@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-page py-5" style="position:relative;z-index:1;">
    <h1>@ViewData["Title"]</h1>
    <hr class="title-divider" />
    <p>Use this page to detail your site's privacy policy.</p>
</div>
